.login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  height: 100vh;
  background-image: url("https://www.iasgyan.in//ig-uploads/images//image01728.jpg");
  /* background-image: url(../Img/img6.png); */
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  /* background-color: red; */
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  width: 15vw;
  height: 30vh;
  gap: 20px;
  flex-direction: row;
}

.loadcanvas {
  display: flex !important;
  flex-direction: row !important;
  color: red !important;
}

#canv {
  background-color: red;
  color: red;
}
