/* root {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #6e6e80;
}

app {
  background: #e8ebee;
  border-bottom: 1px solid #ececf1;
}

contain {
  display: flex;
  flex: 1;
}

drawer {
  /* background: # D8fffDCD6 ;
  width: 200px;
  position: fixed;
  z-index: 10;
  height: 100%;
  padding-top: 70px;
}

main {
  flex: 1;
  background: #fff;
  color: black;
}
toolBar {
  display: grid;
  position: relative;
  justify-content: space-between;
  grid-auto-flow: column;
  gridautocolumns: 1fr auto;
  aligncontent: center;
}
toolBarSpa {
  display: grid;
  position: relative;
  placecontent: start;
  gridautoflow: column;
  rowgap: 10px;
}
menuLis {
  display: grid;
  rowgap: 20px;
  margintop: 20px !important ;
  fontsize: 14px;
}
mainContaine {
  display: grid;
  placecontent: center;
  width: 100%;
  gridautoflow: column;
  justifycontent: space-around;
  alignitems: center;
  height: 100vh;
  padding: 20;
  background: linear-gradient(to bottom right; #d3dae2; #fff);
  @media (max-width: 780px) : {
    padding: 0;
    flexdirection: column-reverse;
    display: flex;
    placecontent: space-evenly;
  }
}
image {
  height: 50vh;
}
superChargeText {
  fontsize: 32px;
  @media (max-width: 780px) : {
    fontsize: 18px;
  }
  color: #003d67;
}
leftContainer {
  display: grid;
  rowgap: 20;
  justifyitems: center;
  @media (max-width: 780px) : {
    justifyitems: start;
  }
} */
